<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo on the left -->
        <a class="navbar-brand" href="">
            <img src="/images/s70.JPG" alt="Brand Logo" class="brand-logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Centered options -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="/category/womenshoes">WOMEN SHOES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/womenapparel">WOMEN APPAREL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/bags">BAGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/kids">KIDS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/accessories">ACCESSORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/fragrances">FRAGRANCES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/sale">SALE</a>
                </li>
            </ul>
        </div>

        <!-- Icons on the right -->
        <div class="navbar-icons ms-auto">
            <a href="../pages/signin" class="btn btn-outline-secondary me-2" aria-label="User">
                <i class="fa-regular fa-user" style="color: #616570;"></i>
            </a>
            <a href="/search" class="btn btn-outline-secondary me-2" aria-label="Search">
                <i class="fa fa-search" style="color: #616570;"></i>
            </a>
            <a href="/cart" class="btn btn-outline-secondary me-2" aria-label="Shopping Cart">
                <i class="fa-solid fa-bag-shopping" style="color: #616570;"></i>
            </a>
        </div>
        
    </div>
</nav>